<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Activity Recognition</title>
</head>
<body>
    <h1>Interfaz de Reconocimiento de Acciones Humanas</h1>
    <canvas id="videoCanvas" width="640" height="480"></canvas>
    <div id="lastActions">
        <h2>Últimas 10 acciones:</h2>
        <ul id="actionsList"></ul>
    </div>
    <p id="fps">FPS: </p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('frame', function(data) {
            var frame = data.frame;
            var text = data.text;
            var fps = data.fps;
            console.log(frame)

            document.getElementById('actionsList').innerHTML = ''; // Limpiar la lista de acciones
            text.split(' ').forEach(function(action) {
                var li = document.createElement("li");
                li.textContent = action;
                document.getElementById('actionsList').appendChild(li);
            });

            document.getElementById('fps').innerText = 'FPS: ' + fps;

            var canvas = document.getElementById('videoCanvas');
            var ctx = canvas.getContext('2d');
            var imageData = ctx.createImageData(640, 480);
            imageData.data.set(new Uint8ClampedArray(frame));
            ctx.putImageData(imageData, 0, 0);
        });
    </script>
</body>
</html>